[submodule "external/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/mlir-hlo"]
	path = externals/mlir-hlo
	url = https://github.com/tensorflow/mlir-hlo.git
[submodule "externals/onnx-mlir-exporter"]
	path = externals/onnx-mlir-exporter
	url = https://github.com/nod-ai/onnx-mlir-exporter
[submodule "externals/onnx"]
	path = externals/onnx
	url = https://github.com/onnx/onnx
